<footer class="footer-section">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="/image/ankita helath.jpg" alt="Hardik Health Point" />
      <p>
        Your Health, Our Priority Providing trusted diagnostic services with
        expertise, compassion, and precision. Committed to accurate results and
        personalized care for a healthier you.
      </p>
    </div>

    <div class="footer-links">
      <h4>Our Departments</h4>
      <ul>
        <li><i class="fas fa-angle-right"></i> General Medicine</li>
        <li><i class="fas fa-angle-right"></i> Pediatrics</li>
        <li><i class="fas fa-angle-right"></i> Gynecology</li>
        <li><i class="fas fa-angle-right"></i> Cardiovascular Care</li>
        <li><i class="fas fa-angle-right"></i> Urology</li>
        <li><i class="fas fa-angle-right"></i> Neurology</li>
        <li><i class="fas fa-angle-right"></i> Radiology</li>
        <li><i class="fas fa-angle-right"></i> Pathology & Diagnostic Testing</li>
        <li><i class="fas fa-angle-right"></i> Preventive Health Check-ups</li>
        <li><i class="fas fa-angle-right"></i> Home Sample Collection</li>
      </ul>
    </div>
    

    <div class="footer-links">
      <h4>Quick Links</h4>
      <ul>
        <li>
          <i class="fas fa-angle-right"></i> <a href="/index.html">Home</a>
        </li>
        <li>
          <i class="fas fa-angle-right"></i> <a href="/about.html">About</a>
        </li>
        <li>
          <i class="fas fa-angle-right"></i>
          <a href="/doctor-list.html">Doctor List</a>
        </li>
        <li>
          <i class="fas fa-angle-right"></i>
          <a href="/service.html">Services</a>
        </li>
        <li>
          <i class="fas fa-angle-right"></i> <a href="/contact.html">Contact</a>
        </li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>Location & Contact</h4>
      <ul>
        <li>
          <i class="fa-solid fa-location-crosshairs"></i> infront of kalinga
          stadium, Plot no-276, 1st floor, swasti soumya enclave, Beherasahi,
          Nayapalli, Bhubaneswar, Odisha 751012
        </li>
        <li><i class="fa-solid fa-envelope"></i> Example123@gmail.com</li>
        <li><i class="fa-solid fa-phone"></i> 7978725576</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Ankit Health Care</p>
    <p>Design and Developed by Manashi & Co.</p>
  </div>
</footer>
