<header class="top-bar">
    <div class="container">
      <div class="logo">
        <img src="/image/ankita helath.jpg" alt="Hardik Health Point Logo">
        
      </div>
      <div class="info">
        <div><strong>Emergency Help</strong><br>24x7 available
            <div class="highlight"><a href="tel:+917978725576">7978725576</a> </div>
        </div>
        
        <div id="location"><i class="fa-solid fa-location-dot" style="color: #29afd1 ,;"></i>infront of kalinga
          stadium, Plot no-276, 1st floor, swasti soumya enclave, Beherasahi,
          Nayapalli, Bhubaneswar, Odisha 751012</div>
        <div id="clock"><i class="fa-regular fa-clock"></i> Monday - Saturday: 9.30AM to 8.30PM</div>
      </div>
      
      
  </header>

  <nav class="navbar">
    <div class="menu-toggle" id="menu-toggle" onclick="toggleMenu()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
    </div>
    <ul id ="navbar-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="doctor-list.html">Doctor List</a></li>
      <li><a href="service.html">Services</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav> 
